<div id="<%= dom_id miter_frame %>">
  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Inside width:</strong>
    <%= miter_frame.inside_width %>
  </p>

  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Inside width unit:</strong>
    <%= miter_frame.inside_width_unit %>
  </p>

  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Inside height:</strong>
    <%= miter_frame.inside_height %>
  </p>

  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Inside height unit:</strong>
    <%= miter_frame.inside_height_unit %>
  </p>

  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Board width:</strong>
    <%= miter_frame.board_width %>
  </p>

  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Board width unit:</strong>
    <%= miter_frame.board_width_unit %>
  </p>

  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Joint angle:</strong>
    <%= miter_frame.joint_angle %>
  </p>

  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Miter angle one:</strong>
    <%= miter_frame.miter_angle_one %>
  </p>

  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Miter angle two:</strong>
    <%= miter_frame.miter_angle_two %>
  </p>

  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Piece length:</strong>
    <%= miter_frame.piece_length %>
  </p>

  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Piece length unit:</strong>
    <%= miter_frame.piece_length_unit %>
  </p>

  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Total material:</strong>
    <%= miter_frame.total_material %>
  </p>

  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Total material unit:</strong>
    <%= miter_frame.total_material_unit %>
  </p>

  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Waste length:</strong>
    <%= miter_frame.waste_length %>
  </p>

  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Waste length unit:</strong>
    <%= miter_frame.waste_length_unit %>
  </p>

  <p>
    <strong>:</strong>
    <%= miter_frame.  %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= miter_frame.project_id %>
  </p>

</div>
