<div class="yield-bubble">
  <div class="cut-name">
    <strong><%= miter_frame.name&.capitalize %></strong>
  </div>
  <br>
  <div class="cut-specs-text">
    <p>Shape: <%= miter_frame.shape_type.capitalize %></p>
    <p>Inside Length: <%= miter_frame.inside_length_display %> in</p>
    <p>Outside Length: <%= miter_frame.outside_length_show %> in</p>
    <p>Board Width: <%= miter_frame.board_width_display %> in</p>
    <p>Miter Angle: <%= miter_frame.miter_angle %>°</p>
  </div>
  <br>
  <div class="bubble-actions">
    <%= link_to "Delete", miter_frame_path(miter_frame), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-text" %>
  </div>
</div>
