<h1>Miter Frames</h1>

<%= form_with(model: @miter_frame, local: false, id: "miter-frame-form") do |f| %>

  <div>
    <%= f.label :shape_type, "Shape" %>
    <%= f.select :shape_type, options_for_select(["triangle", "rectangle", "pentagon", "hexagon"], @miter_frame.shape_type), {}, id: "shape_type" %>
  </div>

  <!-- length -->
  <div>
    <!-- inside length -->
    <div>
      <h3>Inside Length</h3>
      <%= f.label :inside_length_whole, "Whole" %>
      <%= f.number_field :inside_length_whole, id: "inside-length-whole" %>

      <%= f.label :inside_length_numerator, "Numerator" %>
      <%= f.select :inside_length_numerator, options_for_select(0..31), {}, id: "inside-length-numerator" %>

      <%= f.label :inside_length_denominator, "Denominator" %>
      <%= f.select :inside_length_denominator, options_for_select([1,2,4,8,16,32]), {}, id: "inside-length-denominator" %>
    </div>
    <div>
      <h3>Outside Length</h3>
      <!-- outside length -->
      <%= f.label :outside_length_whole, "Whole" %>
      <%= f.number_field :outside_length_whole, id: "outside-length-whole" %>

      <%= f.label :outside_length_numerator, "Numerator" %>
      <%= f.select :outside_length_numerator, options_for_select(0..31), {}, id: "outside-length-numerator" %>

      <%= f.label :outside_length_denominator, "Denominator" %>
      <%= f.select :outside_length_denominator, options_for_select([1,2,4,8,16,32]), {}, id: "outside-length-denominator" %>
    </div>
    <div >
      <h3>Board Width</h3>
      <!-- board width -->
      <%= f.label :board_width_whole, "Whole" %>
      <%= f.number_field :board_width_whole, id: "board-width-whole" %>

      <%= f.label :board_width_numerator, "Numerator" %>
      <%= f.select :board_width_numerator, options_for_select(0..31), {}, id: "board-width-numerator" %>

      <%= f.label :board_width_denominator, "Denominator" %>
      <%= f.select :board_width_denominator, options_for_select([1,2,4,8,16,32]), id: "board-width-denominator" %>

    </div>

    <!-- Results -->
    <div>
    <h3 style="color: blue" >Results</h3>
      <p>Miter Angle: <span id="miter-angle"><%= @miter_frame.miter_angle %></span> </p>
      <p>Inside Length: <span id="inside-length-preview"></span></p>
      <p>Outside Length: <span id="outside-length-preview"></span></p>
    </div>
  </div>

<% end %>
