<h1>Miter Frames</h1>

<%= form_with(model: @miter_frame, local: true, id: "miter-frame-form") do |f| %>

  <div class="field">
    <h3>Project Name</h3>
    <%= f.label :name, "Miter Frame Name" %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div>
    <%= f.label :shape_type, "Shape" %>
    <%= f.select :shape_type, options_for_select(["triangle", "rectangle", "pentagon", "hexagon"], @miter_frame.shape_type), {}, id: "shape_type" %>
  </div>
  <br>
  <div>
    <div>
      <h3>Inside Length</h3>
      <div class="tooltip-wrapper">
        <%= f.label :inside_length_whole, "Whole" %>
        <%= f.number_field :inside_length_whole, id: "inside-length-whole", aria: { describedby: "inside-whole-tooltip"} %>
        <span id="inside-whole-tooltip" class="tooltip-text">If outside length is entered, do not enter inside length...</span>
      </div>

      <div class="tooltip-wrapper">
        <%= f.label :inside_length_numerator, "Numerator" %>
        <%= f.select :inside_length_numerator, options_for_select(0..31), {}, {id: "inside-length-numerator", aria: { describedby: "inside-numerator-tooltip"}} %>
        <span id="inside-numerator-tooltip" class="tooltip-text">Select numerator of inside length in inches</span>
      </div>

      <div class="tooltip-wrapper">
        <%= f.label :inside_length_denominator, "Denominator" %>
        <%= f.select :inside_length_denominator, options_for_select([1,2,4,8,16,32]), {}, {id: "inside-length-denominator", aria: { describedby: "inside-denominator-tooltip"}} %>
        <span id="inside-denominator-tooltip" class="tooltip-text">Select denominator of inside length in inches</span>
      </div>
    </div>
    <div>
      <h3>Outside Length</h3>
      <!-- outside length -->
      <div class="tooltip-wrapper">
        <%= f.label :outside_length_whole, "Whole" %>
        <%= f.number_field :outside_length_whole, id: "outside-length-whole", aria: { describedby: "outside-whole-tooltip"} %>
        <span id="outside-whole-tooltip" class="tooltip-text">If inside length is entered, do not enter outside length...</span>
      </div>

      <div class="tooltip-wrapper">
        <%= f.label :outside_length_numerator, "Numerator" %>
        <%= f.select :outside_length_numerator, options_for_select(0..31), {}, {id: "outside-length-numerator", aria: { describedby: "outside-numerator-tooltip"}} %>
        <span id="outside-numerator-tooltip" class="tooltip-text">Select numerator of outside length in inches</span>
      </div>

      <div class="tooltip-wrapper">
        <%= f.label :outside_length_denominator, "Denominator" %>
        <%= f.select :outside_length_denominator, options_for_select([1,2,4,8,16,32]), {}, {id: "outside-length-denominator", aria: { describedby: "outside-denominator-tooltip"}} %>
        <span id="outside-denominator-tooltip" class="tooltip-text">Select denominator of outside length in inches</span>
      </div>
    </div>
    <div >
      <h3>Board Width</h3>
      <div class="tooltip-wrapper">
        <%= f.label :board_width_whole, "Whole" %>
        <%= f.number_field :board_width_whole, id: "board-width-whole"%>

      </div>

      <div class="tooltip-wrapper">
        <%= f.label :board_width_numerator, "Numerator" %>
        <%= f.select :board_width_numerator, options_for_select(0..31), {}, {id: "board-width-numerator", aria: { describedby: "width-numerator-tooltip"}} %>
        <span id="numerator-tooltip" class="tooltip-text">Select numerator of board width in inches</span>
      </div>

      <div class="tooltip-wrapper">
        <%= f.label :board_width_denominator, "Denominator" %>
        <%= f.select :board_width_denominator, options_for_select([1,2,4,8,16,32]), {}, {id: "board-width-denominator", aria: { describedby: "width-denominator-tooltip"}} %>
        <span id="width-denominator-tooltip" class="tooltip-text">Select denominator of board width in inches</span>
      </div>

    </div>

    <div>
      <h3 style="color: blue" >Results</h3>
      <p>Miter Angle: <span id="miter-angle"><%= @miter_frame.miter_angle %></span>°</p>
      <p>Inside Length: <span id="inside-length-preview"></span> in</p>
      <p>Outside Length: <span id="outside-length-preview"></span> in</p>
    </div>
  </div>

  <div>
    <%= f.submit "Calculate Miter Frame" %>
  </div>

<% end %>
