<div class="yield-bubble">

<div class="cut-name">
  <strong><%= cut_yield.name&.capitalize %></strong>
  </div><br>
  <div class="cut-specs-text">
    <p>Board Length: <%= cut_yield.board_length_display %></p>
    <p>Piece Length: <%= cut_yield.piece_length_display %></p>
    <p>Pieces Count: <%= cut_yield.pieces_count%></p>
    <p>Waste Length: <%= cut_yield.waste_length_display %></p>
  </div>
  <div class="bubble-actions">
    <%= link_to "Delete", cut_yield_path(cut_yield), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-text" %>
  </div>
</div>
