<div id="<%= dom_id cut_yield %>">
  <p>
    <strong>:</strong>
    <%= cut_yield.  %>
  </p>

  <p>
    <strong>Board length:</strong>
    <%= cut_yield.board_length %>
  </p>

  <p>
    <strong>Board length unit:</strong>
    <%= cut_yield.board_length_unit %>
  </p>

  <p>
    <strong>:</strong>
    <%= cut_yield.  %>
  </p>

  <p>
    <strong>Piece length:</strong>
    <%= cut_yield.piece_length %>
  </p>

  <p>
    <strong>Piece length unit:</strong>
    <%= cut_yield.piece_length_unit %>
  </p>

  <p>
    <strong>:</strong>
    <%= cut_yield.  %>
  </p>

  <p>
    <strong>Pieces count:</strong>
    <%= cut_yield.pieces_count %>
  </p>

  <p>
    <strong>:</strong>
    <%= cut_yield.  %>
  </p>

  <p>
    <strong>Waste length:</strong>
    <%= cut_yield.waste_length %>
  </p>

  <p>
    <strong>Waste length unit:</strong>
    <%= cut_yield.waste_length_unit %>
  </p>

  <p>
    <strong>:</strong>
    <%= cut_yield.  %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= cut_yield.project_id %>
  </p>

</div>
